@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,200);
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";

html[op='news'] body  { font-family: 'Lato', sans-serif; font-size:10pt; color: white; }

#hnmain td    { font-family: 'Lato', sans-serif; font-size:10pt; color:#828282; }

#hnmain .admin td   { font-family: 'Lato', sans-serif; font-size:8.5pt; color:#000000; }
#hnmain .subtext td { font-family: 'Lato', sans-serif; font-size:  7pt; color:#828282; }

#hnmain input    { font-family:monospace; font-size:10pt; color:#000000; }
#hnmain textarea { font-family:monospace; font-size:10pt; color:#000000; }

#hnmain a:link    { color:#000000; text-decoration:none; }
#hnmain a:visited { color:#828282; text-decoration:none; }

#hnmain .default { font-family: 'Lato', sans-serif; font-size: 10pt; color:#828282; }
#hnmain .admin   { font-family: 'Lato', sans-serif; font-size:8.5pt; color:#000000; }
#hnmain .title   { font-family: 'Lato', sans-serif; font-size: 10pt; color:#828282; }
#hnmain .adtitle { font-family: 'Lato', sans-serif; font-size:  9pt; color:#828282; }
#hnmain .subtext { font-family: 'Lato', sans-serif; font-size:  7pt; color:#828282; }
#hnmain .yclinks { font-family: 'Lato', sans-serif; font-size:  8pt; color:#828282; }
#hnmain .pagetop { font-family: 'Lato', sans-serif; font-size: 10pt; color:#222222; }
#hnmain .comhead { font-family: 'Lato', sans-serif; font-size:  8pt; color:#828282; }
#hnmain .comment { font-family: 'Lato', sans-serif; font-size:  9pt; }

#hnmain .comment a:link, .comment a:visited { text-decoration:underline;}

#hnmain .c00, .c00 a:link { color:#000000; }
#hnmain .c5a, .c5a a:link, .c5a a:visited { color:#5a5a5a; }
#hnmain .c73, .c73 a:link, .c73 a:visited { color:#737373; }
#hnmain .c82, .c82 a:link, .c82 a:visited { color:#828282; }
#hnmain .c88, .c88 a:link, .c88 a:visited { color:#888888; }
#hnmain .c9c, .c9c a:link, .c9c a:visited { color:#9c9c9c; }
#hnmain .cae, .cae a:link, .cae a:visited { color:#aeaeae; }
#hnmain .cbe, .cbe a:link, .cbe a:visited { color:#bebebe; }
#hnmain .cce, .cce a:link, .cce a:visited { color:#cecece; }
#hnmain .cdd, .cdd a:link, .cdd a:visited { color:#dddddd; }

#hnmain .pagetop a:visited { color:#000000;}
#hnmain .topsel a:link, .topsel a:visited { color:#ffffff; }

#hnmain .subtext a:link, .subtext a:visited { color:#828282; }
#hnmain .subtext a:hover { text-decoration:underline; }

#hnmain .comhead a:link, .subtext a:visited { color:#828282; }
#hnmain .comhead a:hover { text-decoration:underline; }

#hnmain .default p { margin-top: 8px; margin-bottom: 0px; }

#hnmain .pagebreak {page-break-before:always}

#hnmain pre { overflow: auto; padding: 2px; max-width:600px; }
#hnmain pre:hover {overflow:auto}

#hnmain .rotate180 {
  -webkit-transform: rotate(180deg);  /* Chrome and other webkit browsers */
  -moz-transform:    rotate(180deg);  /* FF */
  -o-transform:      rotate(180deg);  /* Opera */
  -ms-transform:     rotate(180deg);  /* IE9 */
  transform:         rotate(180deg);  /* W3C complaint browsers */
}

html[op='news'] body, html[op='item'] body {
 	background-color: rgb(246, 246, 239);
}

#hnmain > tbody > tr:nth-child(1) > td > table {
 	padding: 5px !important;
    padding-bottom: 6px !important;
    margin-top: 1px !important;
}

#hnmain span.rank {
 	font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

#hnmain tr.spacer {
 	display: none;
}

#hnmain img[src='y18.gif'] {
 	border: none !important;
    padding: 0 5px;
}

#hnmain > tbody > tr:nth-child(2) {
 	display: none;
}

#hnmain > tbody > tr:nth-child(3) > td > table > tbody > tr.athing > td.title {
 	padding-top: 15px;
}

#hnmain > tbody > tr:nth-child(3) > td > table > tbody > tr.athing > td:nth-child(2) {
 	width: 25px;
}

#hnmain .votearrow {
 	background-size: 10px;
	background-image: url("https://s3.amazonaws.com/slick-hn/hn-upvote.png");
	margin-bottom: 0px;
}

#hnmain tr.morespace {
	height: 15px;
}

#hnmain > tbody > tr:nth-child(3) > td > table > tbody > tr:last-child {
	height: 40px;
}

#hnmain > tbody > tr:nth-child(3) > td > table > tbody > tr:last-child td.title a {
	padding: 8px 50px;
    margin: 10px 0;
    background-color: #fff;
	color: #000;
}

#hnmain > tbody > tr:nth-child(4) > td > table {

}

#hnmain > tbody > tr:nth-child(4) > td {
	padding-top: 20px;
}

#hnmain td.votelinks {
	padding-top: 12px;
}